<div class="column is-12-tablet is-6-desktop is-4-widescreen">
  <div class="card">
    <!--
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{post.image}}" alt="Placeholder image">
      </figure>
    </div>
    -->
    <div class="card-content">
      <h3 class="title is-5"></h3>

      <div class="content">
        <strong>{{item.title}}</strong> {{item.content}}
        <br>
        {% if item.link %}
            <a href="{{item.link.url}}" class="card-footer-item button is-small is-rounded is-fullwidths">{{item.link.text}}</a>
        {% endif %}
      </div>
    </div>
    {% if item.link %}
    <!--
      <footer class="card-footer">
        <a href="{{item.link.url}}" class="card-footer-item button">{{item.link.text}}</a>
      </footer>
    -->
    {% endif %}
  </div>
</div>
