---
layout: default
---

<section class="hero is-fullheight is-front is-primary">

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title lang-{{page.lang}} is-spaced">{{page.title}}</h1>

      <p class="subtitle is-6 is-size-5-desktop is-size-4-widescreen is-size-3-fullhd">{{page.ingress-text}}</p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <div class="container has-text-centered">
      <a class="link-down" href="#content"><img src="{{site.baseurl}}/assets/images/pil.svg" alt="down" width="100" height="100"></a>
    </div>
  </div>
</section>

<div id="content"></div>


<article id="page" class="section is-medium page-{{page.ref}}">
  <!--
  <div class="container has-text-centered">
    <h1 class="title">{{page.title}}</h1>
  </div>
  -->
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6-fullhd is-8-widescreen is-10 content">
        {{content}}
      </div>
    </div>
  </div>
</article>
